<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AngelLamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
          </div>
          <%# ログインしているときは以下を表示するようにしましょう %>
            <%# <div class="nav__right"> %>
              <%# <%= link_to "ログアウト", root_path, class: :nav__logout %>
              <%# <%= link_to "New Proto", root_path, class: :nav__btn %>
            <%# </div> %>
          <%# // ログインしているときは上記を表示するようにしましょう %>
          <%# ログインしていないときは以下を表示するようにしましょう %>
            <div class="nav__right">
              <%= link_to "ログイン", root_path, class: :nav__btn %>
              <%= link_to "新規登録", root_path, class: :nav__btn %>
            </div>
          <%# // ログインしていないときは上記を表示するようにしましょう %>
        </div>
      </div>
    </header>

    <div class="topbox">

      <%= image_tag "1.png", class:"topimg1" %>
      <%= image_tag "2.png", class:"topimg2" %>
      <%= image_tag "3.png", class:"topimg3" %>
      <%= image_tag "4.png", class:"topimg4" %>
      <%= image_tag "5.png", class:"topimg5" %>
      <%= image_tag "6.png", class:"topimg6" %>
      <%= image_tag "7.png", class:"topimg7" %>
        
      <div class="topinner">
        <p class="toptytle">在宅介護を支え合おう</p>
        <p class="topmessage1">「何から取り掛かればいい？」「こういう時どうすれば・・・」
          <br>在宅介護は”孤独との戦い”とよく言われます
          <br>ですが、たとえあなたの身の回りにいなくとも
          <br>今日もどこかであなたと同じように頑張っている人がいるのです
        </p>
        <p class="topmessage2">”孤独”であっても、”一人”じゃない</p>
        <p class="topmessage3">在宅介護を支え合う活動を、あなたも始めてみませんか？</p>
      </div>
    </div>

    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © Angel Lamp All rights reserved.</p>
    </footer>
  </body>
</html>
