<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AngelLamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
          </div>

          <% if user_signed_in? %>
            <div class="header_right">
              <ul class="menu_list">
                <li class="nav_item">
                  <a href="#" class="js-dropdown">
                    <%= image_tag "profile_icon.png", class:"profile_icon" %>
                    <div class="user-nickname">
                      <%= current_user.nickname %>
                    </div>
                    <div class="angle-down">
                      <%= fa_icon("angle-down") %>
                    </div>
                  </a>
                  <div class="panel js-dropdown-menu">
                    <ul class="panel-inner">
                      <%= link_to "#" do %>
                        <li class="panel_item">
                          マイページ
                        </li>
                      <% end %>
                      <%= link_to destroy_user_session_path, method: :delete do %>
                        <li class="panel_item">
                          ログアウト
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          <% elsif request.path.include?("sign_up") || request.path.include?("sign_in") %>
          <% else %>
            <div class="nav__right">
              <a class="nav__btn" href="#">
                <%= fa_icon("sign-in lg", text:"ログイン") %>
              </a>
              <a class="nav__btn" href="/users/sign_up">
                <%= fa_icon("user-plus", text:"新規登録") %>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </header>



    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © Angel Lamp All rights reserved.</p>
    </footer>
  </body>
</html>
